@mixin text($font-family, $font-size: 14, $font-weight: 400, $color: 'black') {
  color: $color !important;
  font-weight: $font-weight !important;
  font-family: $font-family !important;
  font-size: $font-size !important;
}

@mixin text-group-based-on-size ($xsm, $sm, $md, $lg, $xl, $xxl) {
  .text-xsm {
    @include text(null, $xsm, 400, null)
  }

  .text-sm {
    @include text(null, $sm, 400, null)
  }

  .text-md {
    @include text(null, $md, 500, null)
  }

  .text-lg {
    @include text(null, $lg, 600, null)
  }

  .text-xlg {
    @include text(null, $xl, 700, null)
  }

  .text-xxlg {
    @include text(null, $xxl, 900, null)
  }
}
